DeNovoWEST.code-workspace
*ipynb*
.nextflow*
*__pycache__*
test/*
notebooks/*
input/*
validation/*
dev/*
.vscode
*old*
.*
nextflow/nextflow.config.*
nextflow/outdir/*
resources/*
nextflow/test/*
denovowest.egg-info/
nextflow/test
