
params {
  outdir = '/lustre/scratch123/hgi/mdt1/teams/hurles/ed11/DNW/out_rate_creation/publish_dir/full'
  gff_file  = '/lustre/scratch123/hgi/mdt1/teams/hurles/ed11/resources/MANE.GRCh38.v1.0.ensembl_genomic_gffutils.db' 
  genome_fasta = "/lustre/scratch123/hgi/mdt1/teams/hurles/ed11/resources/GRCh38.primary_assembly.genome.fa"
  split_step = 10 // Split the gene list every split_step genes 
  mutation_rate_model = "/lustre/scratch123/hgi/mdt1/teams/hurles/ed11/DNW/DeNovoWEST/examples/rates/data/rates_model_dnn.tsv"
  gff = "/lustre/scratch123/hgi/mdt1/teams/hurles/ed11/resources/MANE.GRCh38.v1.0.ensembl_genomic.btcsq.gff.gz"
  cadd_file="/lustre/scratch123/hgi/projects/ddd/users/sjl/B38_resources/CADD_v1.6/whole_genome_SNVs.tsv.gz"
  gnomad_file="/lustre/scratch123/hgi/projects/ddd/users/sjl/B38_resources/gnomad/gnomad.exomes.r2.1.1.sites.liftover_grch38.vcf.bgz"
  gene_full_constraints="/nfs/users/nfs_e/ed11/lustre_ed11/DNW/DeNovoWEST/examples/annotations/data/constraint/genes_full_constraint_b38_13022023.tsv"
  gene_region_constraints="/nfs/users/nfs_e/ed11/lustre_ed11/DNW/DeNovoWEST/examples/annotations/data/constraint/genes_regional_data_b38_13022023.tsv"
}



process {
    executor = 'lsf'
    queue = 'long'
    memory = '5G'
    conda = '/software/team29/ed11/miniconda3/envs/denovowest'
}

executor {
  queueSize = 50
}
