/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

process {
    conda = '/software/hgi/envs/conda/team29/ed11/denovowest'

}
